/* Custom Scrollbar for the Sidebar */
.sidebar-scroll::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */  
  }
  
  .sidebar-scroll::-webkit-scrollbar-track {
     /* Track background */
    border-radius: 10px; /* Rounded track */
  }
  
  .sidebar-scroll::-webkit-scrollbar-thumb {
    background: #fff; /* Scroll thumb color */
    border-radius: 12px; /* Rounded scrollbar thumb */
  
  }
  
  