/* fonts  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* tailwind configuration  */

@import "tailwindcss";

/* custom theme */

/* custom color  */

@theme {
  --color-theme-submit-btn: #006b75;
  --color-theme-blue: #7FCBC1;
  --color-theme-white: #fff;
  --color-theme-btnwhite: #FFF9F9;
  --color-theme-tagred: #D34A4A;
  --color-theme-textgrey: #454343;
  --color-theme-circleyellow: #FFE500;
  --color-theme-sidebar-blue: #4B7574;
  --color-theme-sidebar-bg: #393636;
  --color-theme-border-slate: #EBEFEE;
  --color-theme-setting-green: #EFF9F8;
  --font-poppins: "Poppins", sans-serif;
  --color-theme-login-blue: #026A75;
  --color-theme-fade:#908F8F;
  
  --color-gradient-footer: linear-gradient(180deg, #262424 0%, #373232 100%);

}



/* css start here  */

html{
  font-family: 'Poppins', sans-serif;

}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  background-color: whitesmoke;
  position: relative;
}


